.inicio-rep {
    background-color: white; 
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 0;
}

.inicio-rep h1 {
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.3px; 
    margin-top: 2rem;
    color: var(--secondary-color);
    flex: 1; /* Ocupa el espacio disponible */
    min-width: 200px; /* Ancho mínimo antes de apilarse */
}

.logos-fabricantes {
    display: flex;
    gap: 15px; /* Espacio entre logos */
    align-items: center;
}

.inicio-rep img {
    width: 100px; /* Tamaño fijo para ambas */
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .inicio-rep {
        flex-direction: column;
        text-align: center;
    }
    
    .logos-fabricantes {
        justify-content: center;
        margin-top: 15px;
    }
}

.logo-rep {
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px; /* Ajusta según tu diseño */
}

.logo-rep p {
    font-size: 1.5rem; 
    color: #555; 
    line-height: 1.6;
    font-weight: 300;
    text-align: justify;
    margin-top: 0;
}

.logo-rep h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
    color: #3a3a3a; 
    padding: 10px;
}

.logo-rep h2::before {
    content: "🚗";
    margin-right: 10px;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .logo-rep {
        padding: 20px 15px;
   }
}

.marcas-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: white;
    padding: 20px 0;
}

.marcas-track {
    display: inline-block;
    animation: scroll 70s linear infinite;
}

.marca-slide {
    display: inline-block;
    width: 150px;
    height: 80px;
    object-fit: contain;
    margin: 0 25px;
    filter: grayscale(30%);
    transition: all 0.3s ease;
    vertical-align: middle;
}

.marca-slide:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* Pausa la animación al hacer hover */
.marcas-track:hover {
    animation-play-state: paused;
}

@media (max-width: 768px) {
    .marca-slide {
        width: 120px;
        margin: 0 15px;
    }
}